export("opticut", "optilevels", "opticut1",
    "wrsi", "sindex",
    "ocoptions", "occolors",
    "allComb", "kComb", "checkComb", "rankComb", "oComb",
    "bestmodel", "bestpart", "uncertainty", "wplot",
    "fix_levels", "strata", "check_strata")
S3method("opticut", "default")
S3method("opticut", "formula")
S3method("bestmodel", "opticut")
S3method("bestmodel", "optilevels")
S3method("bestpart", "opticut")
S3method("bestpart", "uncertainty")
S3method("bestpart", "uncertainty1")
S3method("plot", "opticut")
S3method("wplot", "opticut")
S3method("wplot", "opticut1")
S3method("print", "opticut")
S3method("print", "opticut1")
S3method("print", "uncertainty1")
S3method("print", "uncertainty")
S3method("print", "summary.uncertainty")
S3method("print", "summary.opticut")
S3method("strata", "opticut")
S3method("summary", "opticut")
S3method("summary", "uncertainty")
S3method("uncertainty", "opticut")

S3method("as.data.frame", "opticut")
S3method("as.data.frame", "summary.opticut")
S3method("as.data.frame", "uncertainty")
S3method("as.data.frame", "summary.uncertainty")

importFrom("mefa4", "groupSums", "nonDuplicated")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "axis", "barplot", "box", "lines",
           "par", "plot", "polygon", "title")
importFrom("stats", "binomial", "coef", "family", "gaussian", "logLik",
           "model.matrix", "model.response", "poisson", "terms",
           "vcov", "density", "quantile", ".MFclass", "nobs")
importFrom("utils", "combn")
importFrom("pbapply", "pboptions", "pbapply")
